@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');


/*=======================================
                COMMON CSS
=========================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family:'Lato', sans-serif ;
    text-rendering: optimizeLegibility;
    
}

.row{
    max-width: 114rem;
    margin: auto;
    padding: 0 2rem;
}

a ,a:hover{
    text-decoration: none;
    margin: 0;
}

p{
    font-size: 2rem;
}


h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    margin: 0;
    font-size: 6.5rem;
}
h2{ 
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h3{ 
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
h2,h3,h4{
    color: #fff;
}
.btn {
    display: inline-block;
    background: #ea0d60;
    color: #fff;
    width: 10rem;
    padding: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5rem;
    text-align: center;
}
.btn:hover {
    color: #000;
}
.highlight {
    color: #ea0d60;
}
.little-des{
    font-size: 1.5rem;
    line-height: 1.5;
}
.pointer:hover {
    cursor: pointer;
}
ul {
    padding-left: 0;
}
/*=======================================
                HERO
=========================================*/
#home{
    background: url(img/call-header.png) no-repeat center / cover;
    height: 40vh;
    position: relative;
}

#home nav .row {
   padding-top: 2rem;
}
#home nav ul li:hover a{
    color: #ea0d60;
}
#home .row .logo {
    float: left;
}
#home h1{
    color: #fff;
}
#home .row ul {
    float: right;
}

#home .row ul li {
    list-style: none;
    display: inline-block;
    
    
}
#home .row ul li a {
    color: #fff;
    display: block;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-left: 1rem;
}

#home .speci-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    
}

#home .speci-text-box h1 {
    font-size: 4rem;
}

#home .speci-text-box p {
    font-size: 1.5rem;
}
/* Sticky Menu */

#home .uk-active {
    background: #000;
}
/*=======================================
            GALLERY
=========================================*/
#gallery {
    padding: 10rem 0;
}

#gallery .gallery-text-box{
    width: 50rem;
    margin: auto;
    margin-bottom: 2.5rem;
}

#gallery .gallery-text-box h2 {
    color: #000;
}

.filter {
    text-align: center;
    margin-bottom: 2.5rem;
}

.filter button {
    background-color: transparent;
    padding: .5rem 1rem ;
    border: 0;
    font-size: 2rem;
}



#gallery .container .col img{

    width: 20rem;
}

#gallery .container .col {
    text-align: center;
}

.mixitup-control-active {
    color: #ea0d60;
    
}
.filter button .highlight {
    padding-left: 5rem;
}


/*=======================================
             CONTACT
=========================================*/

#contact {
    padding: 5rem 0 ;
}
#contact .contact-text-box{
    width: 50rem;
    margin: auto;
    margin-bottom: 3rem;
}

.form-container{
    width: 50rem;
    margin: auto;
}

.form-container input{
    border:none;
    border-bottom: 1px solid grey;;
    width: 100%;
    padding: 2rem 0;
    color: grey;
}

.form-container textarea{
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
    color: grey;
}

.form-container .btn-contact {
    float: right;
}



/*=======================================
             02.OVERVIEW
=========================================*/

#overview {
    height: 90vh;
    background: url(img/overview.png) no-repeat center / cover ;
}
#overview .overview-text-box{
    width: 65rem;
    margin: auto;
}

#overview .overview-text-box h2{
    font-size: 5rem;
    margin-bottom: 3rem;
}

#overview .overview-text-box p{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.8;
   
}
/*=======================================
             03.OFF
=========================================*/
#off{
    text-align: center;
    color: #fff;
    background: url(img/cta.png) no-repeat center / cover;
    padding-top: 4rem;
}

#off h2 {
    font-weight: 100;
    font-size: 5rem;
}

#off .btn-off {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/*=======================================
             ENGINE 
=========================================*/

#engine, #wheels {
    padding: 5rem 0;
}
#engine .text-box,
#wheels .text-box{
    width: 50rem;
    margin: auto;
}

#engine h2, #wheels h2 {
    margin-bottom: 2.5rem;
}

#engine ul li,
#wheels ul li{
    line-height: 2;
    font-size: 1.5rem;
}

/*=======================================
              FOOTER
=========================================*/

#footer {
    background: #000;
    color: #fff;
    padding-top: 10rem ;
}

#footer .col h3 {
    font-size: 2rem;
    text-transform: uppercase;
}

#footer .col li {
    list-style: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#footer .col li a
 {
    color: #fff;
    text-decoration: none;

}

.col .highlight {
    color: #ea0d60;
}

 #footer hr {
    border: .1rem solid #1a1a1a ;
}

/* Copyright */

#footer .copyright {
    float: left;
    font-size: 1rem;
}

#footer .social-icon {
    float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    margin: 0 .5rem;
}
.social-icon li a i {
    color: #fff;
    font-size: 2rem;
}

#footer .info {
    padding: 4rem 0;
}
/* TO TOP */
.totop{
    text-align: center;
    padding: 2rem 0;
}

.totop a {
    border: .1rem solid #fff;
    width: 3rem;
    height: 2rem;
}

.totop a:hover{
    background: #fff;
}